<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!-- xmlns is xml namespace, here this defines prefix 'th' -->
<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <title>Guess the Number Game</title>
</head>
<body>
    <div align="center">
        <h1 id="game-title">Game</h1>
<!--        <h3 th:text="${mainMessage}">-->
        <h3 id="main-message">
            Main Message Content
        </h3>
        <h3 id="result-message">
            Result Message Content
        </h3>

        <form id="game-form"
            action="play" method="post">
            <label for="guess">Enter your guess</label>
<!-- for attribute refers to the ID of the element that this label is associated with -->
            <input type="number" id="guess" name="guess"/>
            <input type="submit" value="Submit"/>
        </form>

        <footer id="footerId">
            <p>Created by Bikram Pun</p>
        </footer>
    </div>
</body>
</html>